#tswcssbuttons {
  width: 180px;
  max-width: 100%;
  text-align: center;
}

#tswcssbuttons ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

#tswcssbuttons li {
  margin: 0px;
  padding: 0px;
  display: block;
  list-style: outside none none;
  font-family: Arial, Helvetica, sans-serif;
}

#tswcssbuttons li a {
  color: #ffa1f2;
  background-color: #701f1f;
  border: 1px outset #5c0000;
  text-decoration: none;
  display: block;
}

#tswcssbuttons li a:hover {
  color: #ce5a5a;
  background-color: #1c1717;
}

#tswsideproper {
  background-color: #ffa1f2;
}

