body {
    background-color: bisque;
}

#mybox {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: aqua;
    border: 5px solid darkslategray;
}

#robot {
    position: absolute;
    width: 130px;
    height: 50px;
    outline: 1.5px solid black;

    animation-name: robot-dance;
    animation-duration: 5s;
    animation-iteration-count: infinite;


}

@keyframes robot-dance {
    0%,100%{
        background-color: brown;
        left: 10%;
        top: 20%;
    }
    25%{left: 35%;
        top: 20%;
    }
    50%{
        background-color: chocolate;
        left: 55%;
    }
    
}